{% extends 'base.html.twig' %}

{% block title %}SAINT PAUL DU TERRAY{% endblock %}
{% block stylesheets %}<link href="css/styly.css" rel="stylesheet" />{% endblock %}


{% block body %}
<main class="main">


	<header-null class="header-null">
		<header class="header">
			<h1>SAINT PAUL DU TERRAY</a></h1>
			<menu-null class="menu-null">
				<div class="menu">
					<a href="#" class="menu_link">Index</a>
					<a href="#" class="menu_link">Manifestation</a>
					<a href="#" class="menu_link">Facturation</a>
					<a href="#" class="menu_link">Contact</a>
				</div>
			</menu-null>
		</header>
	</header-null>

	<noscreen/>

		<left class="left">
			{% for SEJOUR in SEJOURs %}
				{% if SEJOUR.position == "left" %}
					{{ SEJOUR.value |trans|raw}}
				{% endif %}	
			{% endfor %}
		</left>

	<noscreen/>

	<right class="right">
		<h2>Liste des séjours prévus </h2>
		<fieldset>
			<SEJOUR>
					{% for SEJOURs in SEJOURs2 %}
					
						<h2><p>{{ SEJOURs.SEJINTITULE}}</p></h2>
						{{SEJOURs.SEJMONTANTMBI}} €
						<br>
						A partir du {{SEJOURs.SEJDTEDEB}}
						<br>
						{{SEJOURs.SEJDUREE}} nuits

		

					{% endfor %}
			</SEJOUR>
		
		</fieldset>
	</right>
</main>
{% endblock %}


{% block footer %}
    Copyright &copy; 2019 Saint Paul du Terray
{% endblock %}